*,html { padding: 0; margin: 0; }

body { 
	background: #540000 url('../images/bg_grad.png') repeat-x;
	font: 10pt Arial, Helvetica, sans-serif; 
	color: #000000;
}

#inner_wrap { width: 400px; margin: 20px auto; }
#inner_wrap img { border: 0; }
#login { 
	width: 390px; 
	background-color: #fff; 
	margin: 0px 0px 5px 0px; 	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 5px #000;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000; 
}
#login h1 { 
	font: bold italic 16pt "Georgia", serif; 
	color: #781b1b; 
	margin-bottom: 10px; 
	padding-bottom: 5px;
	text-align: center; 
}
#login label { float: left; width: 100px; font-weight: bold; margin-bottom: 10px; color: #880000; }
#login input[type=text], #login input[type=password] {
	border: 1px solid #fff;
	padding: 10px;
	box-shadow: 1px 1px 0px #000;
	background: #e9e9e9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	width: 230px;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
}
#login input[type=text]:hover, #login input[type=password]:hover {
		-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	border: 1px solid #ddd;
	background: #f2f2f2;
}
#login input[type=text]:focus, #login input[type=password]:focus {
		-moz-box-shadow: 1px 1px 0 #bababa;
	-webkit-box-shadow: 1px 1px 0 #bababa;
	border: 1px solid #ddd;
	background: #fff;
}
#login fieldset {
	padding: 5px; 
	border: 1px solid #bababa; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}
#login input[type=submit], form a {
	border: 0;
	padding: 5px;
	background: #880000;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 5px;
	font-size: 12pt;
	text-decoration: none;
	cursor: pointer;
	margin-top: 10px;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
}
#login input[type=submit]:hover, form a:hover {
	background: #CC0000;
}
#login textarea { 
	background: #efefef url('../images/text_bg.png') repeat-x; 
	border: 1px solid #bfbfbf; 
	color: #909090; 
	font: 12px "Tahoma", Helvetica, sans-serif; 
	padding: 3px 7px 3px 7px; 
}
#login .error {
	padding: 5px;
	border: 1px solid #fff;
	background-color: #f0f0f0;
	color: #9b0000;
}
#left textarea:hover { border: 1px solid #959494; color: #565656; }
#left textarea:focus { border: 1px solid #959494; color: #565656; }
.update { padding: 5px; color: #858484; font-size: 11px; }
.l_pad { padding: 8px 10px 8px 10px; }
#footer {
	font-size: 11px;
	width: 615px; 
	background-color: #ffffff; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#footer a:link, #footer a:active, #footer a:visited { color: #781b1b; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.f_pad { padding: 8px 13px 8px 13px; }
.f_left { float: left; }
.f_right { text-align: right; }

.clearfix { clear: both; }
