*,html { padding: 0; margin: 0; }

body { 
	background: #540000 url('../images/bg_grad.png') repeat-x;
	font: 12px "Tahoma", Helvetica, sans-serif; 
	color: #000000;
}

#inner_wrap { width: 850px; margin: 20px auto;  }
#inner_wrap img { border: 0; }
#nav { 
	width: 820px; 
	background-color: #ffffff; 
/*	-moz-border-radius-topleft: 5px; 
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight bold;
	color: #781b1b;
}
.n_pad { padding: 8px 10px 8px 10px; }
.n_left { float: left; }
.n_right { text-align: right; }

#nav .name { margin: 3px 5px 3px 5px; font-weight: bold; color: #781b1b;}
#nav a:link, #nav a:active, #nav a:visited { color: #781b1b; font-weight: bold; text-decoration: none; padding: 3px 5px 3px 5px; }
#nav a:hover { text-decoration: underline; }
#nav .active  { padding: 3px 5px 3px 5px;  }

#main { width: 840px; background-color: #ffffff; margin: 8px 0px 8px 0px; 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; }
#left { float: left; width: 590px; border-right: 1px solid #d9d8d8; }
#left h1 { font: bold italic 16pt "Georgia", serif; color: #781b1b; border-bottom: 1px dotted #bababa; margin-bottom: 10px; padding-bottom: 5px; }
#left textarea { background: #efefef url('../images/text_bg.png') repeat-x; border: 1px solid #bfbfbf; color: #909090;
font: 12px "Tahoma", Helvetica, sans-serif; padding: 3px 7px 3px 7px; width: 600px; }
#left textarea:hover { border: 1px solid #959494; color: #565656; }
#left textarea:focus { border: 1px solid #959494; color: #565656; }
.update { padding: 5px; color: #858484; font-size: 11px; }
#right { float: right; width: 200px; border-left: 1px solid #ffffff; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; background-color: #e9e9e9; text-align: right; display: block; -min-height: 150px; height: 100%; }
.l_pad { padding: 8px 10px 8px 10px; }
.r_pad { padding: 8px 10px 8px 10px; }
#footer {
	font-size: 11px;
	width: 815px; 
	background-color: #ffffff; 
/*	-moz-border-radius-bottomleft: 5px; 
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#footer a:link, #footer a:active, #footer a:visited { color: #781b1b; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.f_pad { padding: 8px 13px 8px 13px; }
.f_left { float: left; }
.f_right { text-align: right; }

.clearfix { clear: both; }
